{% extends "site/index.html" %}
{% block body %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-7">
                    <h2>Entre em contato</h2>
                    <p>Para críticas, sugestões e elogios sobre o Podigger, envie um email para <strong>podigger_engine@gmail.com</strong> ou <a href="https://twitter.com/podigger_engine">siga o <strong>Podigger no Twitter</strong></a></p>
                </div>
            </div>
         </div>
    </div>
</div>
{% endblock %}