{% extends "site/index.html" %}
{% block body %}
<div class="is-mobile is-centered">
  <div class="column is-half is-offset-one-quarter">
      <form method="GET" action="{{url_for('site.search')}}">
          <div class="field has-addons is-centered">
            <div class="control">
              <input class="input" type="text" name="term" placeholder="Find a repository">
            </div>
            <div class="control">
              <a class="button is-info">Search</a>
            </div>
          </div>
        </form>
  </div>
</div>
{% endblock %}
