<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Podigger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body ng-app="podigger">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Podigger</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/search">Busca</a></li>
                    <li><a href="#/add-feed">Adicionar podcast</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/about">Sobre o Podigger</a></li>
                    <li><a href="#/contact">Contato</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <ng-view></ng-view>
    </div>
    <footer class="footer">
       <div class="container">
           <p class="text-muted">Place sticky footer content here.</p>
       </div>
    </footer>
   <script src="{{ url_for('static', filename='js/lib/moment-with-locales.min.js')}}"></script>
   <script src="{{ url_for('static', filename='js/lib/jquery.min.js')}}"></script>
   <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js')}}"></script>
   <script src="{{ url_for('static', filename='js/lib/angular.min.js')}}"></script>
   <script src="{{ url_for('static', filename='js/lib/angular-route.min.js')}}"></script>
   <script src="{{ url_for('static', filename='js/lib/angular-animate.min.js')}}"></script>
   <script src="{{ url_for('static', filename='js/lib/angular-sanitize.min.js')}}"></script>
   <script src="{{ url_for('static', filename='js/lib/angular-messages.min.js')}}"></script>
   <script src="{{ url_for('static', filename='js/lib/angular-moment.min.js')}}"></script>
   <script src="{{ url_for('static', filename='js/app.js')}}"></script>
   <script src="{{ url_for('static', filename='js/filters.js')}}"></script>
   <script src="{{ url_for('static', filename='js/controllers.js')}}"></script>
</body>
</html>
