{% extends "site/index.html" %}
{% block body %}
<script src="{{ url_for('static', filename='dist/js/moment-with-locales.min.js')}}"></script>
<script>moment.locale('pt-br');</script>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 form-search-container">
          <div class="row">
              <div class="well">
                <form class="form-horizontal" method="GET" action="{{url_for('site.search')}}">
                   <div class="form-group">
                       <div class="col-md-12 col-sm-12">
                           <div class="input-group">
                               <input type="text" name="term" placeholder="digite o termo da busca"
                                      class="form-control" required>
                               <span class="input-group-btn">
                                   <button type="submit" class="btn btn-primary"><i class="fa fa-search"
                                                                               aria-hidden="true"></i>
                                       Buscar</button>
                               </span>
                           </div>
                       </div>
                   </div>
                </form>
              </div>
          </div>
        </div>
    </div>

    {% if episodes %}
    <div class="row">
        <div class="col-md-10 col-lg-offset-1">
            {% for message in get_flashed_messages() %}
            <h4>{{ message }}</h4>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        {% for episode in episodes.items %}
        <div class="well well-lg col-md-10 col-lg-offset-1 episode-box">
            <h4>{{episode.podcast.name}}</h4>
            <h5><i class="fa fa-link" aria-hidden="true"> </i> <a href="{{episode.link}}">{{episode.title}}</a></h6>
            <h6><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>publicado há</strong>
                <span class="datetime-published">{{ momentjs(episode.published).from_now()}}</span></h6>
            <p>{{episode.description}}</p>
            <p class="clearfix"><i class="fa fa-tags" aria-hidden="true"></i><strong>Tags:</strong>
                {% for tag in episode.tags %}
                <span
                    class="label label-success label-tag">{{tag.name}}
                </span>
                {% endfor %}
            </p>
            <div>
                <a href="{{episode.enclosure}}"><i class="fa fa-download" aria-hidden="true"></i> download</a>
                <audio controls preload="none" src="{{episode.enclosure}}" type="audio/mpeg"></audio>
            </div>
        </div>
        {% endfor %}

        <div class="text-center">
            {% from 'pagination.html' import render_pagination with context %}
            {{ render_pagination(episodes) }}
        </div>
    </div>

    {% endif %}
</div>
{% endblock %}
