@import "tailwindcss";

@theme {
  --color-primary: #0db9f2;
  --color-background-light: #f5f8f8;
  --color-background-dark: #101e22;
  --color-surface-dark: #182d34;
  --color-muted-dark: #90bccb;

  --font-display: var(--font-jakarta), sans-serif;

  --radius-default: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

:root {
  --background: var(--color-background-light);
  --foreground: var(--color-background-dark);
}

.dark {
  --background: var(--color-background-dark);
  --foreground: var(--color-background-light);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}

