__pycache__
*.pyc
.pytest_cache
.ruff_cache
.hypothesis
.env*
!.env.example
coverage.xml
.coverage
htmlcov
tests/
.venv
*.log
.git
.gitignore
README.md
README.dev
Dockerfile*
docker-compose*.yml
.vscode
.idea
.kiro
.specs
