<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    <h2>Sobre o Podigger</h2>
                    <p>Este é um "projeto de um homem só" (por enquanto) feito por Anderson Meira, o Perna do
                        <a
                            href="http://toscochanchada.com.br"></a>Toscochanchada
                        Podcast.</p>
                    <p>Com a motivação inicial de aprender novas tecnologias, resolvi desenvolver uma ferramenta como
                     prova de conceito, que tornasse simples a busca de podcasts por assuntos, palavras chaves, etc.
                    </p>
                    <p>No desenvolvimento percebi que esta prova de conceito pode realmente ser útil para ouvintes e
                    podcasters, então resolvi publicar de fato esta versão.</p>
                    <p>
                        Na criação do Podigger utilizei as seguintes tecnologias:
                        <ul>
                            <li>Linguagem Python</li>
                            <li>Microframework Flask</li>
                            <li>PostgreSQL com Full Text Search</li>
                            <li>Celery e Redis para gestão de fila</li>
                            <li>Sendgrid para envio de emails</li>
                            <li>AngularJS e Bootsrap para as interfaces.</li>
                        </ul>
                    </p>
                    <p>Para que eu possa melhorar a ferramenta, além das funcionalidades que ainda estão por vir, o
                        feedback dos usuários é importante. Veja como enviar o seu feedback na
                        <a href="#/contact">página de contato</a>.</p>
                </div>
            </div>
         </div>
    </div>
</div>