<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-7">
                  <h2>Sugestão de pauta</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div ng-show="successMessage" class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>Sugestão adicionada com sucesso</p>
                    </div>
                    <div ng-show="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>Erro ao adicionar sugestão</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <form name="addTopicSuggestion" ng-submit="submitForm()" novalidate>
                        <div class="form-group"
                             ng-class="{'has-error': addTopicSuggestion.title.$touched && addTopicSuggestion.title.$invalid }">
                            <label for="topic_title">Título</label>
                            <input type="text" class="form-control" id="topic_title" name="title" ng-model="topic.title" required>
                            <div ng-messages="addTopicSuggestion.name.$error" ng-if="addTopicSuggestion.title.$touched">
                                <p class="text-danger" ng-message="required">Insira o título da pauta</p>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': addTopicSuggestion.description.$touched && addTopicSuggestion.description.$invalid }">
                            <label for="topic_description">Descrição</label>
                            <textarea rows="8" id="topic_description" name="description" ng-model="topic.description"
                                      class="form-control"
                               placeholder="Faça uma descrição da pauta" required></textarea>
                            <div ng-messages="addTopicSuggestion.description.$error"
                                 ng-if="addTopicSuggestion.description.$touched">
                                <p class="text-danger" ng-message="required">Insira a descrição da pauta</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success" ng-disabled="addTopicSuggestion.$invalid"><i
                                ng-show="loading" class="fa fa-spinner fa-spin fa-fw"></i>Enviar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>