<div class="col-md-6 col-md-offset-3 well">
    <form class="form-horizontal">
        <fieldset>
            <legend>Dados do Podcast</legend>
            <div class="form-group">
                <label for="podcast_name" class="col-sm-2 control-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="podcast_name" name="podcast_name" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="podcast_feed" class="col-sm-2 control-label">feed</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="podcast_feed" placeholder="" name="podcast_feed">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-raised btn-success">Enviar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>