<div class="container">
    <div class="col-md-8 col-md-offeset-2">
        <p>Silvio Santos Ipsum ma quem quer dinheiroam? Mah você mora com o papai ou com a mamãem? Ma o Silvio Santos Ipsum é muitoam interesanteam. Com ele ma você vai gerar textuans ha haae. Valendo um milhão de reaisammm. Eu não queria perguntar isso publicamente, ma vou perguntar. Carla, você tem o ensino fundamentauam? Ma vai pra lá. Ma o Silvio Santos Ipsum é muitoam interesanteam. Com ele ma você vai gerar textuans ha haae. Vem pra lá, mah você vai pra cá. Agora vai, agora vem pra láamm. O arriscam tuduam, valendo um milhão de reaisuam. Eu não queria perguntar isso publicamente, ma vou perguntar. Carla, você tem o ensino fundamentauam? Qual é a musicamm? Mah roda a roduamm.</p>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">

        </div>
    </div>
</div>