<div class="container">
    <div class="jumbotron clearfix">
        <div class="col-md-4">
            <h1 class="text-center"><img class="img-responsive" src="static/img/logo.png" alt="podigger"></h1>
        </div>
        <div class="col-md-8">
            <h2 class="">Motor de busca para podcasts</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facilis, rerum deleniti quo voluptatem culpa labore saepe vero reprehenderit sint id quis perspiciatis expedita, impedit quibusdam enim repellendus quae similique.</p>
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <a href="#/search" class="btn btn-info"><i class="fa fa-search" aria-hidden="true"></i> Experimente a busca</a>
            <a href="#/add-podcast" class="btn btn-warning"><i class="fa fa-rss" aria-hidden="true"></i> Adicione o seu podcast</a>
        </div>
    </div>
        </div>
    <div class="row">
        <div class="col-md-4 listeners-content text-center">
            <h3><i class="fa fa-volume-up" aria-hidden="true"></i> Ouvinte</h3>
            <p><strong>Encontre facílmente episódios</strong> que falam sobre os assuntos do momento (ou não). Depois é só clicar no player ou fazer o download do episódio.</p>
        </div>
        <div class="col-md-4 podcasters-content text-center">
            <h3><i class="fa fa-volume-up" aria-hidden="true"></i> Podcaster</h3>
            <p></p>
            <p></p>
            <p></p><strong>Cadastre o seu podcast</strong>, o resto é por conta do Podigger.</p>
        </div>
        <div class="col-md-4 users-content text-center">
            <h3><i class="fa fa-users" aria-hidden="true"></i> Comunidade</h3>
            <p>O uso do Podigger é grátis e qualquer pessoa pode adicionar o feed dos seus podcasts favoritos em nosso banco de dados.<br> Quanto mais ouvintes, podcasters e entusiastas da midia </p>
        </div>
    </div>
</div>

