<div class="container">
    <div class="jumbotron clearfix">
        <h1 class="header center orange-text">Starter Template</h1>
        <div class="col-md-8 col-md-offset-2 text-center">
            <a href="#/search" class="btn btn-success btn-lg"><i class="fa fa-search" aria-hidden="true"></i> Experimente a busca</a>
            <a href="#/add-feed" class="btn btn-warning btn-lg"><i class="fa fa-rss" aria-hidden="true"></i> Adicione o seu podcast</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 listeners-content">
            <h3><i class="fa fa-volume-up" aria-hidden="true"></i> Ouvintes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo natus magni eligendi sint omnis, perspiciatis nihil commodi alias doloremque, maiores sit soluta. Repudiandae blanditiis suscipit, dolorem quis magnam incidunt at!</p>
        </div>
        <div class="col-md-4 podcasters-content">
            <h3><i class="fa fa-volume-up" aria-hidden="true"></i> Podcasters</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci esse ea recusandae sint facilis officiis ipsa quibusdam, fuga debitis deserunt distinctio earum eveniet, obcaecati saepe, labore ipsam omnis impedit. Velit.</p>
        </div>
        <div class="col-md-4 users-content">
            <h3><i class="fa fa-users" aria-hidden="true"></i> Comunidade</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ut, et? Nesciunt magnam, eum dolores explicabo voluptate quas est praesentium quisquam minus dignissimos, aperiam voluptatum modi? Optio aperiam, magni adipisci.</p>
        </div>
    </div>
</div>

