<div class="container">
    <div class="jumbotron clearfix">
        <div class="col-md-6">
            <h1 class="text-center"><img class="img-responsive" src="static/img/logo.png" alt="podigger"></h1>
        </div>
        <div class="col-md-6">
            <h2 class="header center orange-text">Starter Template</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facilis, rerum deleniti quo voluptatem culpa labore saepe vero reprehenderit sint id quis perspiciatis expedita, impedit quibusdam enim repellendus quae similique.</p>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <a href="#/search" class="btn btn-info"><i class="fa fa-search" aria-hidden="true"></i> Experimente a busca</a>
            <a href="#/add-podcast" class="btn btn-warning"><i class="fa fa-rss" aria-hidden="true"></i> Adicione o seu podcast</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 listeners-content text-center">
            <h3><i class="fa fa-volume-up" aria-hidden="true"></i> Ouvintes</h3>
            <p>tiis suscipit, dolorem quis magnam incidunt at!</p>
        </div>
        <div class="col-md-4 podcasters-content text-center">
            <h3><i class="fa fa-volume-up" aria-hidden="true"></i> Podcasters</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci esse ea recusandae sint facilis officiis ipsa quibusdam, fuga debitis deserunt distinctio earum eveniet, obcaecati saepe, labore ipsam omnis impedit. Velit.</p>
        </div>
        <div class="col-md-4 users-content text-center">
            <h3><i class="fa fa-users" aria-hidden="true"></i> Comunidade</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ut, et? Nesciunt magnam, eum dolores explicabo voluptate quas est praesentium quisquam minus dignissimos, aperiam voluptatum modi? Optio aperiam, magni adipisci.</p>
        </div>
    </div>
</div>

