<div class="container">
    <div class="panel panel-primary">
         <div class="panel-heading">Termos mais procurados</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="well well-lg">
                        <canvas class="chart chart-bar" chart-data="data" chart-labels="labels">
                        </canvas>
                        <h4>Hoje</h4>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="well well-lg">
                        <canvas class="chart chart-bar" chart-data="data7" chart-labels="labels7">
                        </canvas>
                        <h4>Últimos 7 dias</h4>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="well well-lg">
                        <canvas class="chart chart-bar" chart-data="data15" chart-labels="labels15">
                        </canvas>
                        <h4>Últimos 15 dias</h4>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="well well-lg">
                        <canvas class="chart chart-bar" chart-data="data30" chart-labels="labels30">
                        </canvas>
                        <h4>Últimos 30 dias</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>