
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background: #18bc9c;
}

body > .container {
  padding-top: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #128F76;
  color: #fff;
  padding:20px;
  text-align: center;
}

.footer p {color: #fff;}

.label-tag {margin: 5px; display: inline-block;}

.listeners-content,
.podcasters-content,
.users-content{color: #fff;}

.listeners-content h3,
.podcasters-content h3,
.users-content h3{
    text-align: center;
    color: #fff;
}

.listeners-content a,
.podcasters-content a {color:#fff;}

.jumbotron{
    background: #1a242f;
    color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.54);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.54);
}

.content-views{
    margin-top: 80px;
}

.pagination>li>a {background: #128f76;}
.pagination>.disabled>a {background: #1a242f;}

.table > tbody > tr > td {
     vertical-align: middle;
}

.form-search-container .form-group{margin-bottom: 0;}
.space-divider-footer {margin: 0 10px;}

.img-loading-podcasts{display:block;margin:10px auto;}

footer a {color:#c0ff10;}

.nav-search a{background-color:#2c3e50!important;}
.nav-search a:hover{background-color:#0f7864!important;}


@media only screen and (max-width : 480px) {

    body{margin-bottom:145px;}

    .header-logo img{display:block;margin: 0 auto;}
    .header-content h2,
    .header-content p{text-align:center;}
    .header-content .btn-search,
    .header-content .btn-add-podcast{
        float:none!important;
        display:block;
        margin: 10px auto;
    }

    .footer{height:145px;}

}
