<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Podigger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body ng-app="podigger">
    <div class="container">
        <ng-view></ng-view>
        <div class="jumbotron">
            <h1>teste</h1>
        </div>
        <form action="">
            <input type="text">
            <button></button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/lib/angular.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/lib/angular-route.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
</body>
</html>